.about-website {
    background-color: $darkerSakura;
    color: $white;

    clear: both;
    text-align: center;

    margin: 200px 0px 0px 0px;


    &__heading {
        text-align: center;
        text-transform: uppercase;
        padding: 5px 5px;

        @include small {
        }

        @include medium{
            text-align: left;
        }

        @include large{

        }
    }

    &__description {
        padding: 0px 5px 5px 5px;

        @include small {
        }

        @include medium{
            text-align: left;
        }

        @include large{

        }
    }
}
