.about-me {
    display: flex;
    flex-direction: column;

    margin: 100px 0px 0px 0px;
    padding: 0px 40px 0px 40px;

        @include small {

        }

        @include medium {
            flex-direction: row;
        }

        @include large {
        }

    &__imagecontainer {
        flex: 0 0 200px;
        margin: 0 auto; //nur bei display: block
        width: 200px;
        height: 200px;
        text-align: center;
        position: relative;
        border-radius: 100%;
        overflow: hidden;

        @include small {

        }

        @include medium {
            flex: 0 0 400px;
            height: 400px;
        }

        @include large {
            flex: 0 0 500px;
            height: 500px;
        }
    }

    &__portraitmedium {
        position: absolute;
        top: 50%;
        left: 50%;

        height: 100%;
        width: auto;

        transform: translate(-50%, -50%);

            @include small {

            }

            @include medium {
            }

            @include large {
                display: none;
            }
    }

    &__portraitlarge {
        position: absolute;

        display: none;

            @include small {

            }

            @include medium {

            }

            @include large {
                display: inline-block;

                top: 50%;
                left: 50%;

                height: 100%;
                width: auto;

                transform: translate(-50%, -50%);
            }
    }

    &__textcontainer {
        width: 100%;
        text-align: center;

        @include small {

        }

        @include medium {
            text-align: left;
        }

        @include large {

        }
    }

    &__textcontainer-heading {
        text-transform: uppercase;
        text-align: center;
        padding: 60px 0px 40px 0px;
        margin: 0px 0px 0px 0px;

            @include small {

            }

            @include medium {
                text-align: left;
                padding: 60px 0px 40px 40px;
            }

            @include large {

            }
    }

    &__textcontainer-description {

        @include small {

        }

        @include medium {
            padding: 0px 40px 0px 40px;
        }

        @include large {

        }

    }
}
