.about-me {
    display: flex;
    flex-direction: column;
    margin: 100px 0px 0px 0px;
    padding: 0px 40px 0px 40px;

        @include medium {
            flex-direction: row;
            margin: 200px 0px 0px 0px;
        }

    &__imagecontainer {
        flex: 0 0 200px;
        margin: 0 auto; //nur bei display: block
        width: 200px;
        height: 200px;
        text-align: center;
        position: relative;
        border-radius: 100%;
        overflow: hidden;

        @include medium {
            flex: 0 0 400px;
            margin: 0rem 0rem 0rem 1.1rem;
            height: 400px;
        }

        @include large {
            flex: 0 0 500px;
            height: 500px;
        }
    }

    &__portrait {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%, -50%);
    }

    &__textcontainer {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0px 2rem;

        @include medium {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            width: 75%;
        }
    }

    &__textcontainer-heading {
        text-transform: uppercase;
        text-align: center;
        padding: 60px 0px 20px 0px;
        margin: 0px 0px 0px 0px;

            @include medium {
                text-align: left;
                padding: 60px 0px 20px 40px;
            }
    }

    &__textcontainer-description {
        margin: 0px 0px 0px 0px;

        @include medium {
            padding: 0px 40px 0px 40px;
        }
    }
}
