.about-website {
    background-color: $darkerSakura;
    color: $white;

    clear: both;
    text-align: center;

    margin: 100px 0px 0px 0px;

    @include small {
    }

    @include medium{
        margin: 200px 0px 0px 0px;
    }

    @include large{

    }


    &__heading {
        text-align: center;
        text-transform: uppercase;
        padding: 40px 0px 20px 0px;
        margin: 0px 0px 0px 0px;

        @include small {
        }

        @include medium{
            text-align: left;
            padding: 40px 0px 20px 3.5rem;
        }

        @include large{

        }
    }

    &__description {
        padding: 0px 40px 40px 40px;
        margin: 0px 0px 0px 0px;

        @include small {
        }

        @include medium{
            text-align: left;
            padding-left: 3.5rem;
        }

        @include large{

        }
    }
}
