.about-website {
    background-color: $darkerSakura;
    color: $white;
    clear: both;
    text-align: center;
    margin: 100px 0px 0px 0px;
    @include medium{
        margin: 200px 0px 0px 0px;
    }

    &__heading {
        text-align: center;
        text-transform: uppercase;
        padding: 40px 0px 20px 0px;
        margin: 0px 0px 0px 0px;

        @include medium {
            text-align: left;
            padding: 40px 0px 20px 3.5rem;
        }
    }

    &__description {
        padding: 0px 40px 40px 40px;
        margin: 0px 0px 0px 0px;

        @include medium {
            text-align: left;
            padding-left: 3.5rem;
        }
    }
}
