.burger-icon {
   display: block;
   position: relative;
   background-color: $lightestSakura;
   width: 100%;
   height: 60px;

   @include small {

   }

   @include medium {
       display: none;
   }

   @include large {

   }

   &__lines {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%);

      &:hover {
         cursor: pointer;
      }
   }

   &__line {
      width: 40px;
      height: 5px;
      background-color: white;
      border-radius: 10px;
      margin-top: 5px;
   }

   &__line1 {

      //transform: rotateY(0deg) rotate(45deg);
   }

   &__line3 {
      //transform: rotateY(0deg) rotate(-45deg);
   }

   &__passive {
      display: none;
   }

}
