.floating-text {
   padding: 0 1rem;
   margin-top: 8rem;

   @include medium {
      margin-top: 16rem;
   }

   &__heading {
      text-align: center;
      padding: 1.5rem 1rem;
      margin-bottom: 2rem;
      margin-left: -1rem;
      margin-right: -1rem;
      background-color: $darkerSakura;
      color: $white;
   }

   &__wrapper {

      @include medium {
         display: flex;
      }
   }

   &__image-container {
      position: relative;
      width: 100%;

      @include medium {
         flex: 0 0 300px;
         width: 300px;
         height: 300px;
         overflow: hidden;
         border-radius: 100%;
         width: auto;
     }

      @include large {
         flex: 0 0 500px;
         height: 500px;
         width: 500px;
      }
   }

   &__image {
      display: block;
      width: 100%;
      height: auto;

      @include medium {
         position: absolute;
         top: 50%;
         left: 50%;
         height: 100%;
         width: auto;
         transform: translate(-50%, -50%);
      }
   }

   &__middle-wrapper {

   }

   &__middle-heading {
      text-align: center;
      padding: 1.5rem 1rem;
      margin: 1rem 0;
      background-color: $darkerSakura;
      color: $white;
      font-size: 1.5rem;

      @include medium {
         margin: 1rem;
         margin-top: 0;
      }
   }

   &__description {
      text-align: center;
      margin: 1rem 0;
      padding: 1rem 0.5rem;
      background-color: $lighterSakura;
      color: $white;

      @include medium {
         margin: 0rem 1rem;
         padding: 1rem 1rem;
      }

      @include large {
         padding: 1rem 1rem;
      }
   }

   &__under-heading {
      text-align: center;
      padding: 1.5rem 1rem;
      margin: 1rem 0;
      background-color: $darkerSakura;
      color: $white;
      font-size: 1.5rem;
   }

   &__under-description {
      padding: 1rem 0.5rem;
      background-color: $lighterSakura;
      color: $white;

   }
}
