.footer {
    color: $white;
    margin: 70px 0px 0px 0px;

    &__upper {
        background-color: $lightestSakura;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include small {

        }

        @include medium {
            flex-direction: row;
        }

        @include large {

        }
    }

    &__container{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include small {
        }

        @include medium {
            width: 50%;
            align-items: center;
            padding: 0px 0px 10px 0px;
        }

        @include large {
            align-items: left;
        }
    }

    &__heading {
        text-align: center;
        padding: 40px 0px 40px 0px;
        margin: 0px 0px 0px 0px;

        @include small {
        }

        @include medium {

        }

        @include large {
            text-align: left;
        }
    }

    &__mail {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    &__mail-svg {
        fill: $white;
        width: 35px;
        height: 35px;

        &:hover {
            .footer_mail-link > a{
                color: black;
            }
        }
    }

    &__mail-link {

    }

    &__mail-adress {
        font-size: 1.1rem;
        text-decoration: none;
        color: $white;
        transition: color 0.5s;
    }

    &__phone {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        width: 100%;
    }

    &__phone-svg {
        fill: $white;
        width: 35px;
        height: 35px;
    }

    &__phone-number {
        text-decoration: none;
        font-size: 1.1rem;
        color: $white;
        transition: color 0.5s;
    }

    &__list {
        margin: 0px 0px 0px 0px;
        text-align: center;
        list-style-type: none;
    }

    &__list-item {
        padding: 20px 40px 20px 0px;
    }

    &__link {
        text-decoration: none;
        color: $white;
        transition: color 0.5s;
    }

    &__lower {
        background-color: darken($lightestSakura, 10%);
        display: flex;
        justify-content: center;

        @include small {

        }

        @include medium {

        }

        @include large {

        }
    }

    &__icon {
            width: 50px;
            height: 50px;

            &:hover {
                .footer__svg {
                    fill: $white;
                }
            }
    }

    &__svg {
        fill: black;
        transition: fill 0.5s;
    }
}
