.footer {
    color: $white;
    margin: 100px 0px 0px 0px;

    @include medium {
        flex-direction: row;
        margin: 200px 0px 0px 0px;
    }

    &__upper {
        background-color: $lightestSakura;
        display: flex;
        flex-direction: column;

        @include medium {
            flex-direction: row;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include medium {
            width: 50%;
            justify-content: flex-start;
            padding: 0px 0px 10px 0px;
        }

        @include large {

        }
    }

    &__heading {
        font-size: 1.3rem;
        text-align: center;
        padding: 40px 0px 40px 0px;
        margin: 0px 0px 0px 0px;

        @include medium {
            font-size: 1.5rem;
        }

        @include large {
            text-align: left;
        }
    }

    &__mail {
        width: 100%;
    }

    &__mail-link {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {
            .footer__mail-svg {
                fill: $lighterSakura;
            }

            .footer__mail-text {
                color: $lighterSakura;
            }
        }
    }

    &__mail-svg {
        fill: $white;
        width: 35px;
        height: 35px;
        transition: fill 0.5s;
        }

    &__mail-text {
        color: $white;

        font-size: 0.9rem;
        transition: color 0.5s;

        @include medium {
            font-size: 1rem;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        width: 100%;
    }

    &__phone-link {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {
            .footer__phone-svg {
                fill: $lighterSakura;
            }

            .footer__phone-number {
                color: $lighterSakura;
            }
        }
    }

    &__phone-svg {
        fill: $white;

        width: 35px;
        height: 35px;

        transition: fill 0.5s;
    }

    &__phone-number {
        color: $white;
        font-size: 0.9rem;
        transition: color 0.5s;

        @include medium {
            font-size: 1rem;
        }
    }

    &__list {
        margin: 0px 0px 0px 0px;
        text-align: center;
        list-style-type: none;
    }

    &__list-item {
        font-size: 0.9rem;
        padding: 20px 40px 20px 0px;

        @include medium {
            font-size: 1rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $white;
        transition: color 0.5s;

        &:hover {
            color: $lighterSakura;
        }
    }

    &__lower {
        background-color: darken($lightestSakura, 10%);
        display: flex;
        justify-content: center;
    }

    &__icon {
            width: 50px;
            height: 50px;

            &:hover {
                .footer__svg {
                    fill: $lighterSakura;
                }
            }
    }

    &__svg {
        fill: $white;
        transition: fill 0.5s;
    }
}
