.heading-text {

   padding: 0 1rem;
   margin-top: 8rem;

   &__heading {
      text-align: center;
      padding: 1.5rem 1rem;
      margin-bottom: 2rem;
      margin-left: -1rem;
      margin-right: -1rem;
      background-color: $darkerSakura;
      color: $white;
   }

   &__description {
      padding: 1rem 0.5rem;
      text-align: center;

      @include medium {
         text-align: left;
      }
   }
}
