.image-header {
    overflow: hidden;
    position: relative;

    &__navpicture{
        width: 100%;
        height: auto;
        display: block;
        margin-top: 0px;
    }

    &__navpicture-description-container {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        padding: 0.5rem 0.25rem;
        transform: translate(-50%);
        background-color: $lighterSakura;
        border-radius: 10px;
        width: 160px;
        height: 60px;

        @include medium {
            top: 20%;
            left: 1.1rem;
            transform: none;
            width: 230px;
            height: 80px;
        }

        @include large{
            left: 3%;
            width: 260px;
            height: 90px;
        }
    }

    &__entry-title {
        font-size: 1.25rem;
        color: $white;
        text-transform: uppercase;

        @include medium{
            font-size: 2.25rem;
        }

        @include large{
            font-size: 2.5rem
        }
    }

    &__description {
        font-size: 0.75rem;
        color: $white;

        @include medium{
            font-size: 1rem;
        }

        @include large{
            font-size: 1.25rem;
        }
    }
}
