.image-header { //EVENTUELL ALS BACKGROUND-IMAGE
    overflow: hidden;
    position: relative;
    height: auto;

    @include small {
    }

    @include medium{
    }

    @include large{
    }

    &__navpicture{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }

    &__navpicture-description-container {
        position: absolute;
        top: 65%;
        left: 50%;

        transform: translate(-50%);

        background-color: $lighterSakura;
        border-radius: 10px;

        width: 160px;
        height: 60px;

        @include small {

        }

        @include medium {
            top: 20%;
            left: 5%;

            transform: none;

            width: 230px;
            height: 80px;
        }

        @include large{
            width: 260px;
            height: 90px;
        }
    }

    &__entry-title {

        font-size: 1.5rem;
        color: $white;
        text-transform: uppercase;
        margin: 5px;

        @include small {

        }

        @include medium{
            font-size: 2rem
        }

        @include large{
            font-size: 2.25rem;
        }
    }

    &__description {

        font-size: 0.75rem;
        color: $white;
        font-weight: bolder;
        margin: 5px;

        @include small {

        }

        @include medium{
            font-size: 1rem;
        }

        @include large{
            font-size: 1.25rem;
        }
    }
}
