.main-navigation {

    ul {
        list-style: none;
        flex-direction: column;
        display: none;
        padding-left: 0;
        background-color: $lightestSakura;
        margin-top: 0;
        margin-bottom: 0;

        @include small{

        }

        @include medium {
            display: flex;
            flex-direction: row;
            margin: 0;

            list-style: none;
            padding-left: 40px;
        }

        @include large {

        }

        &.is-active {
            display : flex !important;
        }

    }

    li {

        @include small {

        }

        @include medium {
            display: flex;
            align-items: stretch;
            margin-right: 40px;
        }

        @include large {

        }

        &:first-child {
            align-items: center;

            @include medium {

                align-items: center;
            }

        }
    }

    a {
        text-align: center;
        display: block;
        border-bottom: solid 3px transparent;
        padding: 40px 10px 40px 10px;
        font-weight: bold;
        text-decoration: none;
        color: $white;
        transition: background-color 0.75s, border-bottom 0.75s; //Warum keine zwei Transitions
        border-top: solid 3px transparent;

        &:hover {
            border-bottom: solid 3px $white;
            background-color: $lighterSakura;
        }
    }
}
