.mainpicture-gallery {
    width: 75%;
    margin: 50px auto 0px auto;
    overflow: auto;

    &__heading {
        margin: 0px 0px 0px 0px;
        padding: 40px 0px 40px 0px;
        text-align: center;
    }

    &__slider {
        display: flex;
    }

    &__slider-prev {
        float: left;
        margin-top: 110px;
        cursor: pointer;
        height: 100%;
        width: auto;

        position: relative;
        margin-right: -45px;
        z-index: 100;

        @include small {

        }

        @include medium {
            margin-top: 300px;
        }

        @include large {

        }
    }

    &__slider-inner {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 3px;
        border: #666 solid 1px;
    }

    &__figcaption {
        margin: 0px 0px 15px 0px;
        background-color: blue;
    }

    .is-active {
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .is-passive {
        display: none;
        width: 100%;
        height: auto;
    }

    &__description {

    }

    &__slider-next {
        margin-top: 110px;
        cursor: pointer;
        height: 100%;
        width: auto;

        position: relative;
        margin-left: -45px;
        z-index: 100;

        @include small {

        }

        @include medium {
            margin-top: 300px;
        }

        @include large {

        }
    }
}
