.mainpicture-gallery {
    width: 100%;
    margin: 40px auto;
    overflow: auto;

    &__heading {
        text-align: center
    }

    &__slider {

    }

    &__slider-prev {
        float: left;
        margin-top: 50px;
        cursor: pointer;

        position: relative;
        margin-right: -45px;
        z-index: 100;

        @include small {

        }

        @include medium {
            margin-top: 130px;
        }

        @include large {

        }
    }

    &__slider-inner {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        float: left;
        padding: 3px;
        border: #666 solid 1px;
    }

    .is-active {
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .is-passive {
        display: none;
        width: 100%;
        height: auto;
    }

    &__slider-next {
        float: left;
        margin-top: 50px;
        cursor: pointer;

        position: relative;
        margin-left: -45px;
        z-index: 100;

        @include small {

        }

        @include medium {
            margin-top: 130px;
        }

        @include large {

        }
    }
}
