.trip-heading-imgs-descr {
   display: flex;
   justify-content: center;
   display: flex;
   flex-direction: column;

   &__heading {
      text-align: center;
      margin: 10rem 0rem 0rem 0rem;
      padding: 1.1rem 0rem 1.1rem 0rem;
   }

   &__images-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0rem 0rem 0rem 0rem;
      margin: 0rem 0rem 0rem 0rem;

      @include large {
         flex-direction: row;
         align-items: center;
     }
   }

   &__image-container {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
   }

   &__image {
      width: 75%;
      height: auto;
      margin: 0 auto;

      @include large {
         width: 95%;
     }
   }

   &__description {
      text-align: center;
      margin: 0rem 0rem 0rem 0rem;
      padding: 2rem 0rem 2rem 0rem;
      background-color: $darkerSakura;
      color: $white;
   }
}
