h1,
h2,
h3 {
   font-weight: normal;
   font-family: $font-main-3;
   margin: 0rem 0rem 0rem 0rem;
}

h1 {
   font-size: 2rem;

   @include medium{
      font-size: 2.25rem
  }

  @include large{
      font-size: 2.5rem;
  }
}

h2 {
   font-size: 1.75rem;

   @include medium{
      font-size: 2rem
  }

  @include large{
      font-size: 2.25rem;
  }
}

h3 {
   font-size: 1.5rem;
   padding: 1.1rem 0rem;

   @include medium{
      font-size: 1.75rem
  }

  @include large{
      font-size: 2rem;
  }
}

p {
    margin: 0rem 0rem 0rem 0rem;
    line-height: 1.75rem;
    font-size: 1.1rem;
}

a {
    color: $gray;
}
