/*COLORS*/
/******************************************************************************/

/*Basic-Colors*/
$darkestSakura : #54000F;
$darkerSakura: #7D1124;
$lighterSakura: #C25367;
$lightestSakura: #EA8D9D;
$white: #FFFFFF;
$black: #000;
$gray: #f0f0f0;

/******************************************************************
	BREAKPOINTS
******************************************************************/

$w-small-min: 		481px;

$w-medium-min: 		961px;

$w-large-min: 		1361px;

/******************************************************************
	FONTS
******************************************************************/
$font-main-1: 'Montserrat-regular';
$font-main-2: 'Montserrat-italic';
$font-main-3: 'Montserrat-black';
